{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "function-comma-newline-after": null,
    "at-rule-no-unknown": null,
    "property-no-vendor-prefix": null
  }
}
