@use "../common/forward" as *;

.academy {
  text-decoration: none;
}

.academy__title {
  font-family: var(--font-secondary);
  line-height: 20px;
  color: var(--color-font-basic);
}

.academy__icon {
  fill: var(--color-academy-basic);
}
