@use "../common/forward" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-font-bg);
  background-color: var(--color-btn-basic);
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    @media (hover: hover) {
      background-color: var(--color-btn-basic-hover);
    }
  }

  &:active {
    color: var(--color-font-bg-active);
    background-color: var(--color-btn-basic-hover);
  }

  &:disabled {
    color: var(--color-font-bg);
    background-color: var(--color-btn-basic);
    opacity: 0.3;
    cursor: initial;
  }

  &--promo {
    @media (width >= $width-tablet) {
      padding: 14px 26px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &--form {
    @media (width >= $width-tablet) {
      padding: 14px 26px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &--more {
    color: var(--color-font-basic);
    background-color: var(--color-btn-more);

    &:hover,
    &:focus-visible {
      @media (hover: hover) {
        background-color: var(--color-btn-more-hover);
      }
    }

    &:active {
      color: var(--color-font-basic-active);
      background-color: var(--color-btn-more-hover);
    }
  }
}
