@use "../common/forward" as *;

$card-list-width: 316px;

.card {
  @include page-content-paddings;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
  padding-block: 21px 24px;
  border-bottom: 1px solid var(--color-bd-card);

  @media (width >= $width-tablet) {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    align-items: center;
    max-width: calc(50vw - var(--padding-page) - 0.5 * var(--column-gap));
    padding: 10px 37px 40px;
    background-image: linear-gradient(to bottom, var(--color-bg-basic) var(--margin-top-card, 81px), var(--color-bg-second) var(--margin-top-card, 82px));
    border-bottom: none;
  }

  @media (width >= $width-desktop) {
    row-gap: 4px;
    align-items: center;
    padding-inline: 38px;
  }

  &--more {
    grid-template-rows: 30px;
    grid-template-columns: 1fr;
    row-gap: 3px;
    justify-content: center;
    place-items: center;
    padding-block: 25px 24px;
    text-align: center;

    @media (width >= $width-tablet) {
      display: grid;
      grid-template-rows: 60px max-content 1fr;
      row-gap: 16px;
      padding-block: 51px 40px;
      background-image: none;
      box-shadow: inset 0 0 0 2px var(--color-bg-second);
    }

    @media (width >= $width-desktop) {
      row-gap: 21px;
    }

    &::before,
    &::after {
      content: "";
      grid-area: 1 / 1 / 2 / 2;
      width: 30px;
      height: 2px;
      background-color: var(--color-icon-plus);

      @media (width >= $width-tablet) {
        width: 60px;
      }
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  &--compact {
    display: block;
    padding: 13px 0 18px;
    border-bottom: 1px solid var(--color-bd-second);

    @media (width >= $width-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 55px;
      align-items: baseline;
      max-width: none;
      padding: 20px 37px 27px;
      background-image: none;
    }

    @media (width >= $width-desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 244px;
      row-gap: 0;
      column-gap: 10px;
      align-items: baseline;
      padding: 15px 0 16px;
    }
  }
}

.card__title-link {
  grid-column: 2 / 3;
  width: fit-content;
  margin-block: -5px 9px;
  margin-right: 64px;
  padding-block: 5px;
  text-decoration: none;

  @media (width >= $width-tablet) {
    flex-grow: 1;
    margin: 4px 50px 0;
    text-align: center;
  }

  @media (width >= $width-desktop) {
    margin-inline: 15px;
    margin-bottom: 14px;
  }

  .card--more & {
    grid-column: 1 / 2;
    margin-block: 15px 1px;
    margin-right: 0;

    @media (width >= $width-tablet) {
      margin-top: 27px;
      margin-right: 50px;
    }

    @media (width >= $width-desktop) {
      margin-block: 14px 0;
      margin-right: 15px;
    }
  }

  .card--compact & {
    display: block;
    margin-right: 0;
    margin-bottom: 8px;

    @media (width >= $width-tablet) {
      grid-column: unset;
      margin: 0;
      line-height: 20px;
    }
  }
}

.card__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--color-font-card);

  @media (width >= $width-tablet) {
    font-size: 20px;
    line-height: 24px;
  }

  .card--compact & {
    line-height: 16px;

    @media (width >= $width-tablet) {
      line-height: 20px;
      text-align: start;
    }
  }

  .card__title-link:hover &,
  .card__title-link:focus-visible & {
    @media (hover: hover) {
      opacity: 0.6;
    }
  }

  .card__title-link:active & {
    opacity: 0.3;
  }
}

.card__image-link {
  display: flex;
  grid-area: 1 / 1 / 3 / 2;
  justify-content: center;
  align-items: center;
  width: 140px;
  min-height: 107px;

  @media (width >= $width-tablet) {
    order: -1;
    width: 200px;
    height: 210px;
  }

  @media (width >= $width-desktop) {
    width: 169px;
  }

  &:hover {
    @media (hover: hover) {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.card__image {
  display: block;
  object-fit: scale-down;
}

.card__list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column: 2 / 3;
  margin: 0;
  margin-bottom: 4px;

  @media (width >= $width-tablet) {
    row-gap: 7px;
    width: 100%;
    margin-bottom: 18px;
  }

  @media (width >= $width-desktop) {
    row-gap: 8px;
    margin-bottom: 29px;
  }

  .card--more & {
    grid-column: 1 / 2;
  }

  .card--compact & {
    margin-bottom: 15px;

    @media (width >= $width-tablet) {
      grid-template-columns: 1fr 23%;
      column-gap: 20px;
      min-width: $card-list-width;
      margin-bottom: 0;
    }
  }
}

.card__property,
.card__value,
.card__text {
  font-family: var(--font-secondary);
  font-size: 12px;
  line-height: 16px;

  @media (width >= $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  .card--compact & {
    font-size: 14px;
    line-height: 14px;
    border: none;

    @media (width >= $width-tablet) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.card__property,
.card__value {
  @media (width >= $width-tablet) {
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--color-bd-second);
  }

  @media (width >= $width-desktop) {
    padding-bottom: 5px;
  }

  .card--compact & {
    @media (width >= $width-tablet) {
      width: unset;
      min-width: 70px;
      margin: 0;
      padding: 0;
      text-align: end;
    }

    @media (width >= $width-desktop) {
      text-align: start;
    }
  }
}

.card__value {
  justify-self: right;
  text-align: end;
}

.card__text {
  margin: 0;
  margin-bottom: 17px;

  @media (width >= $width-tablet) {
    margin-inline: 40px;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (width >= $width-desktop) {
    margin-inline: 0;
    margin-bottom: 69px;
  }
}

.card__button {
  grid-column: span 2;
  width: 100%;
  margin-top: 16px;

  @media (width >= $width-tablet) {
    margin-top: 0;
  }

  .card--more & {
    grid-column: 1 / 2;
    margin: 0;
  }

  .card--compact & {
    margin: 0;

    @media (width >= $width-desktop) {
      grid-column: auto;
    }
  }
}
