@use "../common/forward" as *;

.compare-slider {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.compare-slider__container {
  z-index: -1;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &--left {
    grid-area: 1 / 1 / 2 / 2;
  }

  &--right {
    grid-area: 1 / 2 / 2 / 3;
    justify-content: end;
  }
}

.compare-slider__image {
  width: auto;
  max-width: unset;
  height: 100%;
}

.compare-slider__thumb {
  --color: var(--color-icon-second);
  display: grid;
  grid-area: 1 / 1 / 2 / 3;
  justify-content: center;
  place-items: center;
  width: 40px;
  height: 100%;
  padding: 0;
  background: radial-gradient(circle, var(--color-bg-basic) 18px, transparent 19px);
  border: none;
  cursor: col-resize;

  &::before {
    content: "";
    z-index: -1;
    grid-area: 1 / 1 / 2 / 2;
    width: 4px;
    height: 100%;
    background-color: var(--color);
    border-radius: 2px;
  }

  &::after {
    content: "";
    grid-area: 1 / 1 / 2 / 2;
    width: 40px;
    height: 40px;
    background-color: var(--color);
    mask: center / contain no-repeat url("../img/compare-arrows.svg");
  }

  &:hover,
  &:focus-visible {
    @media (hover: hover) {
      --color: var(--color-btn-basic);
    }
  }

  &:active {
    --color: var(--color-btn-basic-active);
  }
}
