@use "../common/mixins" as *;
@use "../common/variables" as *;

.contacts {
  background-color: var(--color-bgnd-second);
}

.contacts__header {
  @include page-content-paddings;
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  &--light {
    background-color: var(--color-bgnd-basic);
  }
}

.contacts__intro {
  flex-grow: 1;
  margin: 0;
  margin-right: 15px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-font-contacts);
}

.contacts__list {
  min-width: 50%;

  @media (min-width: 400px) and (max-width: $width-tablet - 1px) {
    text-align: end;
  }
}

.contacts__item {
  margin: 0;
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.contacts__map {
  width: 100%;
}
