@use "../common/forward" as *;

$height-map-phone: 362px;
$height-map-tablet-desktop: 400px;

.contacts {
  background-color: var(--color-bgnd-second);

  &--light {
    background-color: var(--color-bgnd-basic);
  }
}

.contacts__header {
  @include page-content-paddings;
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

.contacts__intro {
  flex-grow: 1;
  margin: 0;
  margin-right: 15px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-font-contacts);
}

.contacts__list {
  min-width: 50%;

  @media (400px <= width < $width-desktop) {
    text-align: end;
  }
}

.contacts__item {
  margin: 0;
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.contacts__map {
  height: #{lin-interp($width-phone, $height-map-phone, $width-tablet,
      $height-map-tablet-desktop, 100vw)};

  @media (width >= $width-tablet) {
    height: $height-map-tablet-desktop;
  }
}
