@use "../common/forward" as *;

$height-map-phone: 362px;
$height-map-tablet: 400px;

.contacts {
  background-color: var(--color-bg-second);

  @media (width >= $width-desktop) {
    display: grid;
  }

  &--light {
    background-color: var(--color-bg-basic);
  }
}

.contacts__header {
  @include page-content-paddings;
  display: flex;
  align-items: center;
  padding-block: 26px;

  @media (width >= $width-tablet) {
    padding: 60px calc(40px + var(--padding-page));
  }

  @media (width >= $width-desktop) {
    z-index: 2;
    grid-area: 1 / 1 / 2 / 2;
    width: 565px;
    height: fit-content;
    margin-top: 95px;
    margin-bottom: 106px;
    margin-left: var(--padding-page);
    padding: 60px 78px 60px 80px;
    background-color: var(--color-bg-basic);
  }
}

.contacts__intro {
  flex-grow: 1;
  margin: 0;
  margin-right: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-font-third);

  @media (width >= $width-tablet) {
    flex-grow: 0;
    width: 235px;
    margin-right: auto;
    font-size: 20px;
    line-height: 26px;
  }

  @media (width >= $width-desktop) {
    width: 200px;
    padding-right: 10px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  min-width: 50%;

  @media (width >= 400px) {
    text-align: end;
  }

  @media (width >= $width-tablet) {
    row-gap: 25px;
    min-width: unset;
  }

  @media (width >= $width-desktop) {
    row-gap: 22px;
    text-align: start;
  }
}

.contacts__item {
  margin: 0;
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;

  @media (width >= $width-tablet) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 165px;
    font-size: 16px;
  }

  @media (width >= $width-desktop) {
    row-gap: 19px;
  }
}

.contacts__map {
  height: #{lin-interp($width-phone, $height-map-phone, $width-tablet,
      $height-map-tablet, 100vw)};

  @media (width >= $width-tablet) {
    height: $height-map-tablet;
  }

  @media (width >= $width-desktop) {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
  }
}
