@use "../common/forward" as *;

$width-breakpoint: 1280px;

.details {
  @include page-content-width;
}

.details__title {
  margin: 0;
  margin-bottom: 40px;
  line-height: 40px;
  color: var(--color-font-second);

  @media (width >= $width-tablet) {
    margin-bottom: 32px;
    line-height: 60px;
  }
}

.details__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: details;

  @media (width >= $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 136px;
    margin-right: 74px;
  }

  @media (width >= $width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    margin-right: 0;
  }
}

.details__item {
  display: flex;
  align-items: center;
  counter-increment: details;

  @media (width >= $width-tablet) {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr;
  }

  &--icon_leaf::before {
    background-image: url("../img/sprite.svg#details-leaf");
    background-size: 27px 29px;
  }

  &--icon_cook::before {
    background-image: url("../img/sprite.svg#details-cook");
    background-size: 30px 32px;
  }

  &--icon_meal::before {
    background-image: url("../img/sprite.svg#details-meal");
    background-size: 26px 30px;
  }

  &--icon_time::before {
    background-image: url("../img/sprite.svg#details-time");
    background-size: 27px 31px;
  }

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: var(--color-bg-image);
    background-position: center;
    background-repeat: no-repeat;

    @media (width >= $width-tablet) {
      grid-area: 1 / 1 / 2 / 2;
      width: 80px;
      height: 80px;
      margin: 40px 33px 31px 0;
    }

    @media ($width-breakpoint <= width < $width-desktop) {
      grid-area: 1 / 1 / 3 / 2;
      margin-block: 0;
    }
  }

  &::after {
    @media (width >= $width-tablet) {
      content: counter(details);
      z-index: -1;
      grid-area: 1 / 2 / 3 / 3;
      justify-self: end;
      font-size: 280px;
      line-height: 280px;
      color: var(--color-font-counter);
    }
  }

  &:nth-child(1) {
    @media (width >= $width-tablet) {
      &::before {
        margin-right: 38px;
      }

      &::after {
        margin-right: 23px;
      }
    }

    @media (width >= $width-desktop) {
      &::after {
        margin-right: 21px;
      }
    }
  }

  &:nth-child(2) {
    @media (width >= $width-tablet) {
      &::before {
        margin-right: 32px;
      }

      &::after {
        margin-right: 4px;
      }
    }

    @media (width >= $width-desktop) {
      &::after {
        margin-right: -1px;
      }
    }
  }

  &:nth-child(3) {
    @media (width >= $width-tablet) {
      &::after {
        margin-right: 1px;
      }
    }

    @media (width >= $width-desktop) {
      &::after {
        margin-right: -3px;
      }
    }
  }

  &:nth-child(4) {
    @media (width >= $width-tablet) {
      &::after {
        margin-right: 3px;
      }
    }

    @media (width >= $width-desktop) {
      &::after {
        margin-right: -3px;
      }
    }
  }
}

.details__text {
  font-family: var(--font-secondary);
  font-size: 14px;

  @media (width >= $width-tablet) {
    grid-area: 2 / 1 / 3 / 3;
    align-self: start;
    font-size: 16px;
    line-height: 24px;
  }

  @media ($width-breakpoint <= width < $width-desktop) {
    grid-area: 1 / 2 / 3 / 3;
    align-self: center;
  }
}
