@use "../common/forward" as *;

.field {
  display: flex;
  row-gap: 13px;
  column-gap: 13px;
  align-items: center;
  text-transform: uppercase;

  &--textarea {
    display: block;
    width: 100%;
    padding: 14px 14px 14px 15px;
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid var(--color-brdr-input);
    border-radius: none;

    &::placeholder {
      color: var(--color-font-basic);
      opacity: 0.5;
    }
  }
}

.field__control {
  flex-grow: 1;
  padding: 14px 15px 13px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
  border: 1px solid var(--color-brdr-input);

  &::placeholder {
    color: var(--color-font-basic);
    opacity: 0.5;
  }
}
