@use "../common/forward" as *;

.footer {
  padding-block: 40px;
  text-align: center;
  background-color: var(--color-bg-second);

  @media (width >= $width-tablet) {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 35px;
    align-items: center;
    padding-block: 49px 50px;
  }

  @media (width >= $width-desktop) {
    column-gap: 40px;
    padding-block: 61px 60px;
  }
}

.footer__logo {
  --cat-color: var(--color-font-third);
  --energy-color: var(--color-font-third);
  display: block;
  width: fit-content;
  margin: 0 auto 19px;

  @media (width >= $width-tablet) {
    margin: 0;
  }

  &:hover .footer__wordmark,
  &:focus-visible .footer__wordmark {
    @media (hover: hover) {
      --cat-color: var(--color-font-third-hover);
      --energy-color: var(--color-font-third-hover);
    }
  }

  &:active .footer__wordmark {
    --cat-color: var(--color-font-third-active);
    --energy-color: var(--color-font-third-active);
  }
}

.footer__wordmark {
  display: block;
}

.footer__socials {
  margin-bottom: 20px;
  border-block: 1px solid var(--color-bd-basic);

  @media (width >= $width-tablet) {
    margin: 0;
    border: none;
  }
}

.footer__dev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  pointer-events: none;

  @media (width >= $width-tablet) {
    column-gap: 23px;
    justify-content: end;
    justify-self: right;
    width: fit-content;
    min-height: 37px;
    text-align: end;
    pointer-events: auto;
  }
}
