@use "../common/forward" as *;

.form__field-group {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;

  &--cat {
    @media (width >= $width-tablet) {
      margin-bottom: 72px;
    }
  }

  &--diet {
    margin-bottom: 26px;
    padding-block: 22px 18px;
    border-block: 1px solid var(--color-brdr-basic);

    @media (width >= $width-tablet) {
      @include page-content-width;
      margin-bottom: 65px;
      padding: 22px 0 26px 26px;
      border: 1px solid var(--color-brdr-basic);
    }
  }

  &--contacts {
    margin-bottom: 24px;
  }

  &--extra {
    margin-bottom: 34px;
  }

  &--buttons {
    @include page-content-paddings;
    margin-bottom: 21px;
    text-align: center;
  }
}

.form__list {
  @include list-reset;
  @include page-content-paddings;
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media (width >= $width-tablet) {
    row-gap: 20px;
    padding: 0;
  }

  .form__field-group--diet &,
  .form__field-group--extra & {
    row-gap: 13px;
  }

  .form__field-group--diet & {
    @media (width >= $width-tablet) {
      padding: 0;
    }
  }
}

.form__legend {
  margin-bottom: 34px;
  color: var(--color-font-second);

  .form__field-group--contacts & {
    width: calc(202px + var(--padding-page));
    margin-bottom: 35px;

    @media (width >= $width-tablet) {
      width: auto;
      margin-bottom: 76px;
    }
  }

  .form__field-group--comment & {
    margin-bottom: 38px;
  }
}

.form__textarea {
  @include page-content-width;
  height: 150px;
}

.form__button {
  width: 100%;
  max-width: 400px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form__notify {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--color-font-second);
}
