@use "../common/forward" as *;

.form {
  @media (width >= $width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: start;
  }
}

.form__field-group {
  grid-column: span 2;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;

  &--cat {
    @media (width >= $width-tablet) {
      margin-bottom: 72px;
    }

    @media (width >= $width-desktop) {
      grid-column: span 1;
      margin-bottom: 70px;
    }
  }

  &--diet {
    margin-bottom: 26px;
    padding-block: 22px 18px;
    border-block: 1px solid var(--color-bd-basic);

    @media (width >= $width-tablet) {
      margin-bottom: 65px;
      padding: 22px 26px 26px;
      border: 1px solid var(--color-bd-basic);
    }

    @media (width >= $width-desktop) {
      grid-column: span 1;
      margin-bottom: 70px;
      padding: 29px 27px 24px;
    }
  }

  &--contacts {
    margin-bottom: 24px;

    @media (width >= $width-tablet) {
      margin-bottom: 65px;
    }

    @media (width >= $width-desktop) {
      margin-bottom: 70px;
    }
  }

  &--comment {
    @media (width >= $width-tablet) {
      margin-bottom: 65px;
    }

    @media (width >= $width-desktop) {
      margin-bottom: 70px;
    }
  }

  &--extra {
    margin-bottom: 34px;

    @media (width >= $width-tablet) {
      margin-bottom: 54px;
    }

    @media (width >= $width-desktop) {
      margin-bottom: 61px;
    }
  }

  &--ending {
    @include page-content-paddings;
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    align-items: center;
    margin-bottom: 0;
    text-align: center;

    @media (width >= $width-tablet) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
      row-gap: 32px;
      column-gap: 64px;
      padding: 0;
    }

    @media (width >= $width-desktop) {
      grid-template-columns: 1fr 1fr;
      row-gap: 40px;
      column-gap: 80px;
    }
  }
}

.form__list {
  @include list-reset;
  @include page-content-paddings;
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media (width >= $width-tablet) {
    row-gap: 20px;
    padding: 0;
  }

  .form__field-group--diet &,
  .form__field-group--extra & {
    row-gap: 13px;

    @media (width >= $width-tablet) {
      padding: 0;
    }
  }

  .form__field-group--contacts & {
    @media (width >= $width-desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 40px;
      column-gap: 80px;
    }
  }

  .form__field-group--extra & {
    @media (width >= $width-tablet) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
      row-gap: 32px;
      column-gap: 60px;
    }

    @media (width >= $width-desktop) {
      grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
      row-gap: 40px;
      column-gap: 80px;
    }
  }
}

.form__legend {
  margin-right: var(--padding-page);
  margin-bottom: 34px;
  color: var(--color-font-second);

  @media (width >= $width-tablet) {
    margin-inline: -40px 0;
  }

  .form__field-group--contacts & {
    margin-bottom: 35px;

    @media (width >= $width-tablet) {
      margin-bottom: 76px;
    }
  }

  .form__field-group--comment & {
    margin-bottom: 38px;

    @media (width >= $width-tablet) {
      margin-bottom: 87px;
    }

    @media (width >= $width-desktop) {
      margin-bottom: 78px;
    }
  }

  .form__field-group--extra & {
    @media (width >= $width-tablet) {
      margin-bottom: 51px;
    }

    @media (width >= $width-desktop) {
      margin-bottom: 57px;
    }
  }
}

.form__textarea {
  @include page-content-width;
  height: 150px;

  @media (width >= $width-tablet) {
    width: 100%;
    height: 175px;
  }
}

.form__button {
  width: 100%;
  max-width: 400px;

  @media (width >= $width-tablet) {
    max-width: unset;
  }
}

.form__notify {
  order: 1;
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--color-font-second);

  @media (width >= $width-tablet) {
    align-self: start;
    padding-top: 15px;
    font-size: 16px;
    text-align: start;
  }

  @media (width >= $width-desktop) {
    padding-top: 17px;
  }
}

.form__break::after {
  content: "\A";
  white-space: pre;

  @media (width >= $width-tablet) {
    white-space: normal;
  }
}
