@use "../common/forward" as *;

.header {
  $color-bgnd-right: #62a53a;
  position: relative;
  display: block;

  @media (width >= $width-tablet) {
    @include page-content-paddings;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: flex-start;
    padding-top: 25px;
  }

  @media (width >= $width-desktop) {
    padding: 0;
  }

  &--js-menu_closed {
    @media (width < $width-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--color-brdr-header);

      &.header--index {
        border-bottom: none;
      }
    }
  }

  &--js-menu_opened {
    @media (width < $width-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &--index {
    $color-bgnd-right: #62a53a;

    @media (width >= $width-desktop) {
      grid-template-columns: 50% 50%;

      &::before {
        content: "";
        z-index: -1;
        display: block;
        grid-area: 1 / 2 / 3 / 3;
        width: 100%;
        height: 100%;
        background-color: $color-bgnd-right;
        background-image: url("../img/background-header.jpg");
        background-position: left center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

.header__logo {
  display: inline-flex;
  align-items: center;
  padding: 13px $padding-page-phone 14px;

  @media (width >= $width-tablet) {
    row-gap: 13px;
    column-gap: 13px;
    justify-content: start;
    margin-right: 32px;
    padding: 0;
  }

  @media (width >= $width-desktop) {
    grid-area: 1 / 1 / 2 / 2;
    row-gap: 14px;
    column-gap: 14px;
    width: fit-content;
    margin: 0;
    margin-top: 55px;
    margin-left: var(--padding-page);
  }
}

.header__wordmark {
  position: absolute;
  right: var(--padding-page);
  height: fit-content;
  padding-block: 23px;

  @media (width >= $width-tablet) {
    position: static;
    padding: 0;
  }

  @media (width < $width-tablet) {
    .header--js-menu_closed &,
    .header--js-menu_opened & {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.header__toggle {
  display: none;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: var(--color-bgnd-basic);
  border: none;
  cursor: pointer;

  @media (width < $width-tablet) {
    .header--js-menu_closed & {
      display: inline-flex;
      margin-right: $padding-page-phone - 9px;
      padding: 10px;

      &::before {
        content: "";
        width: 24px;
        height: 2px;
        margin-top: 2px;
        background-color: var(--color-icon-basic);
        box-shadow:
          0 8px 0 0 var(--color-icon-basic),
          0 16px 0 0 var(--color-icon-basic);
      }
    }

    .header--js-menu_opened & {
      display: inline-grid;
      margin-right: $padding-page-phone - 13px;

      &::before,
      &::after {
        content: "";
        grid-area: 1 / 1 / 2 / 2;
        width: 25px;
        height: 2px;
        margin: auto;
        background-color: var(--color-icon-basic);
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &:hover::before,
  &:hover::after,
  &:focus-visible::before,
  &:focus-visible::after {
    @media (hover: hover) {
      opacity: 0.6;
    }
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.header__nav {
  @media (width >= $width-tablet) {
    justify-self: end;
  }

  @media (width >= $width-desktop) {
    grid-area: 1 / 2 / 2 / 3;
    padding-inline: 33px var(--padding-page);
    padding-top: 55px;
  }

  @media (width < $width-tablet) {
    .header--js-menu_closed & {
      display: none;
    }

    .header--js-menu_opened & {
      width: 100%;
    }
  }
}

.header__list {
  @media (width < $width-tablet) {
    .header--js-menu_opened & {
      position: absolute;
      right: 0;
      left: 0;
    }
  }
}

.header__intro {
  width: 100%;

  @media (width >= $width-tablet) {
    grid-area: 2 / 1 / 3 / 3;
  }
}
