@use "../common/forward" as *;

.main-index__details {
  margin-bottom: 29px;
}

@media (width >= $width-desktop) {
  .main-index {
    display: contents;

    &::after {
      content: "";
    }
  }
}
