@use "../common/forward" as *;

.map {
  display: grid;
}

.map__responsive {
  z-index: 1;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  border: none;
}

.map__link {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
}

.map__fallback {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
