@use "../common/forward" as *;

$tablet-breakpoint: 450px;
$desktop-breakpoint: 1100px;

.map {
  display: grid;
}

.map__responsive {
  z-index: 1;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  border: none;
}

.map__link {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
  width: 100%;
  max-width: 362px;
  height: 100%;

  @media (width >= $tablet-breakpoint) {
    max-width: $width-tablet;
  }

  @media (width >= $desktop-breakpoint) {
    max-width: $width-desktop;
  }

  @media (width >= #{$width-desktop + 2 * $padding-page-desktop}) {
    @include page-content-width;
    justify-self: start;
    max-width: $width-max;
  }
}

.map__fallback {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
