@use "../common/forward" as *;
@use "sass:math";

.nav__list {
  @include list-reset;
  background-color: var(--color-bg-basic);
  border-top: 1px solid var(--color-bd-third);

  @media (width >= $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 33px;
    border-top: none;
  }

  @media (width >= $width-desktop) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 33px;
    background-color: transparent;
  }
}

.nav__item {
  text-align: center;
  border-bottom: 1px solid var(--color-bd-third);

  @media (width >= $width-tablet) {
    border-bottom: none;
  }
}

.nav__link {
  $thickness-underline: 2px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 22px 20px 23px;

  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-font-second);

  @media (width >= $width-tablet) {
    padding: 14px 0 16px;
    font-size: 18px;
    line-height: 24px;
    text-align: start;

    &--current::after {
      content: "";
      display: block;
      width: calc(100% - $thickness-underline);
      margin: 0 auto;
      box-shadow: 0 7px 0 math.div($thickness-underline, 2) var(--color-bd-link);

      .header--index & {
        box-shadow: 0 9px 0 math.div($thickness-underline, 2) var(--color-bd-link);
      }
    }
  }

  @media (width >= $width-desktop) {
    padding-block: 16px 18px;
    font-size: 20px;
    line-height: 30px;

    .header--index & {
      color: var(--color-font-bg);

      &:not(span):hover,
      &:not(span):focus-visible {
        @media (hover: hover) {
          color: var(--color-font-bg-hover);
        }
      }

      &:not(span):active {
        color: var(--color-font-bg-active);
      }

      &--current::after {
        box-shadow: 0 6px 0 math.div($thickness-underline, 2) var(--color-bd-bg);
      }
    }
  }

  &:not(span):hover,
  &:not(span):focus-visible {
    @media (hover: hover) {
      color: var(--color-font-second-hover);
    }
  }

  &:not(span):active {
    color: var(--color-font-second-active);
  }
}
