@use "../common/forward" as *;

.products--with-extra {
  padding-top: 25px;
  padding-bottom: 35px;

  & .products__list {
    margin-bottom: 35px;
  }
}

.products__title {
  margin: 0;
  margin-bottom: 35px;
}

.products__list {
  @include list-reset;
}

.products__extra {
  width: calc($width-phone - 2 * $padding-page-phone);
  min-height: 290px;
  margin: 0 auto;
  padding: 43px 61px 43px 58px;

  font-family: var(--font-secondary);
  line-height: 20px;
  text-align: center;
  color: var(--color-font-bgnd);

  background-color: var(--color-bgnd-image);
  background-image: url("../img/gift.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
