@use "../common/forward" as *;

.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
  width: fit-content;
  max-width: 262px;
  margin: 0 auto;
  padding-block: 7px 6px;

  @media (width >= $width-tablet) {
    padding: 0;
  }
}

.socials__link {
  display: flex;
  width: 44px;
  height: 48px;

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    margin: auto;
    background-color: var(--color-icon-second);
    mask: center / contain no-repeat;
  }

  &--icon_vk::before {
    mask-image: url("../img/sprite-mask.svg#socials-vk");
  }

  &--icon_yt::before {
    mask-image: url("../img/sprite-mask.svg#socials-yt");
  }

  &--icon_tg::before {
    mask-image: url("../img/sprite-mask.svg#socials-tg");
  }

  &:hover::before,
  &:focus-visible::before {
    @media (hover: hover) {
      background-color: var(--color-icon-hover);
    }
  }

  &:active::before {
    background-color: var(--color-icon-hover);
    opacity: 0.3;
  }
}
