@use "../common/forward" as *;

html {
  height: 100%;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 18px;
  color: var(--color-font-basic);
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: $width-phone;
  min-height: 100%;
  margin: 0;
  background-color: var(--color-bgnd-basic);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
