@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-style: #{$style};
    font-weight: #{$weight};
    src: url("../fonts/#{to-lower-case($font_name)}/#{$file_name}.woff2") format("woff2"),
      url("../fonts/#{to-lower-case($font_name)}/#{$file_name}.woff") format("woff");
    font-display: swap;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin page-content-paddings {
  padding-right: var(--padding-page);
  padding-left: var(--padding-page);
}

@mixin page-content-width {
  width: calc(100vw - 2 * var(--padding-page));
  margin-inline: auto;
}

@function lin-interp($x1, $y1, $x2, $y2, $x-input) {
  @return calc($y1 + ($y2 - $y1) / ($x2 - $x1) * ($x-input - $x1));
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
