@use "sass:color";
@use "mixins" as *;

$width-phone: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;
$width-max: 1680px;

$padding-page-phone: 20px;
$padding-page-tablet: 30px;
$padding-page-desktop: 110px;

$color-default-black: #000000;
$color-default-white: #ffffff;

:root {
  --font-primary: "Oswald", "Arial", sans-serif;
  --font-secondary: "Lato", "Arial", sans-serif;

  --color-font-basic: #444444;
  --color-font-second: #{$color-default-black};
  --color-font-second-hover: #{transparentize($color-default-black, 0.4)};
  --color-font-second-active: #{transparentize($color-default-black, 0.7)};
  --color-font-third: #111111;
  --color-font-third-hover: #3e3e3e;
  --color-font-third-active: #6b6b6b;
  --color-font-card: #222222;
  --color-font-bgnd: #{$color-default-white};
  --color-font-bgnd-hover: #{transparentize($color-default-white, 0.4)};
  --color-font-bgnd-active: #{transparentize($color-default-white, 0.7)};
  --color-font-counter: #f2f2f2;

  --color-bgnd-basic: #ffffff;
  --color-bgnd-second: #f2f2f2;
  --color-bgnd-image: #68b738;
  --color-bgnd-example: #eaeaea;

  --color-btn-basic: #68b738;
  --color-btn-basic-hover: #5eaa2f;
  --color-btn-more: #f2f2f2;

  --color-brdr-basic: #d9d9d9;
  --color-brdr-second: #cdcdcd;
  --color-brdr-third: #e6e6e6;
  --color-brdr-input: #e7e7e7;
  --color-brdr-card: #ebebeb;
  --color-brdr-link: #68b738;
  --color-brdr-bgnd: #ffffff;

  --color-icon-basic: #000000;
  --color-icon-second: #666666;
  --color-icon-hover: #68b738;

  --padding-page: #{lin-interp($width-phone, $padding-page-phone,
     $width-tablet, $padding-page-tablet, 100vw)};

  @media (width >= $width-tablet) {
    --padding-page: #{lin-interp($width-tablet, $padding-page-tablet,
       $width-desktop, $padding-page-desktop, 100vw)};
  }

  @media (width >= $width-desktop) {
    --padding-page: #{$padding-page-desktop};
  }

  @media (width >= $width-max) {
    --padding-page: calc(50vw - #{0.5 * $width-max - $padding-page-desktop});
  }
}
